.overlay_div
{
		background-image: url(img/black.jpeg);
		background-repeat: no-repeat;
		background-position: center;
		opacity:.20;
		z-index:1001;
		pointer-events:none;
}

.login_div
{
	float:left;
	width: 35%;
	position: absolute;
	margin: auto 50px;
	margin-top:25%;
}