#fade_div
{
margin-top:-5%;
opacity:0.9;
height:90%;
width:100%;
z-index:1005;
background-color:#1d1711;
display:none;
position:fixed;
}

#x_img1
{
cursor:pointer
margin-top:0px;
margin-right:0px;
z-index:1011;
cursor: pointer;
}

#x_img2
{
cursor:pointer
margin-top:0px;
margin-right:0px;
z-index:1011;
cursor: pointer;
}

#loginform_div
{
margin-top:-5%;
height:90%;
width:100%;
display:none;
position:fixed;
z-index:1006;
}

#registerform_div
{
margin-top:-5%;
height:90%;
width:100%;
display:none;
position:fixed;
z-index:1006;
}
